// global styles and changin bulma variables

// import google fonts 
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: 'Nunito', sans-serif;

// update some of bulma's componen variables
$control-border-width: 2px;
$input-border-coor: transparent;
$input-shadow: none;

// global styles
html,body {
    height: 100%;
}

html {
    background-image: url('./assets/background.svg');
    background-size: cover;

    overflow-y: auto !important;
}